<!---
<nav class="navbar navbar-expand-lg navbar-ligth" style="background-color: #28b8ae;">
	<a class="navbar-brand"></a>
	<a class="navbar-brand">APP RECONOCIMIENTO FACIAL</a>
				
	<div class="dropdown">
		<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
			data-bs-auto-close="outside">
			Dropdown form
		</button>
		<form class="dropdown-menu p-4">
			<div class="mb-3">
				<label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
				<input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
			</div>
			<div class="mb-3">
				<label for="exampleDropdownFormPassword2" class="form-label">Password</label>
				<input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
			</div>
			<div class="mb-3">
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="dropdownCheck2">
					<label class="form-check-label" for="dropdownCheck2">
						Remember me
					</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
	</div>	



	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="['home']">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['about']">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['users']">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['products']">Products</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['fotos']">Fotos</a>
			</li>
			<li class="nav-item">
				<button class="btn btn-secondary" [routerLink]="'auth/signin'">
					Login
				</button>
			</li>
			

		</ul>
	</div>
</nav>
-->
<div class="container-fluid">
	<div class="row flex-nowrap">
		<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #008F8C;">
			<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
				<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none" >
					<!-- <img src="" alt=""> Poner logo-->
					<span class="fs-5 d-none d-sm-inline" style="color :black">APP RECONOCIMIENTO FACIAL</span>
				</a>
				<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
					<li class="nav-item">
						<a href="#" class="nav-link align-middle px-0">
							<i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Añadir Usuario</span>
						</a>
					</li>
					<li>
						<a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
							<i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" >Usuarios ▾</span>
						</a>
						<ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
							<li class="w-100">
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline" style="padding-left: 25px;"> → Consulta</span>  </a>
							</li>
							<li>
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline" style="padding-left: 25px;"> → Edición</span>  </a>
							</li>
							<li>
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline" style="padding-left: 25px;"> → Eliminar Usuarios</span> </a>
							</li>
						</ul>
					</li>
					
					<li>
						<a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
							<i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Consultas SQL ▾</span> </a>
						<ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
							<li class="w-100">
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"style="padding-left: 25px;"> → Tiempo en oficina</span> </a>
							</li>
							<li>
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"style="padding-left: 25px;"> → Avances Proyectos</span> </a>
							</li>
							<li>
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"style="padding-left: 25px;"> → Días de asistencia</span> </a>
							</li>
							<li>
								<a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"style="padding-left: 25px;"> → Mensajes previos</span> </a>
							</li>
						</ul>
					</li>
					
				</ul>
				<hr>
				<div class="dropdown pb-4">
					<a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
							class="rounded-circle">
						<span class="d-none d-sm-inline mx-1" style="color :black">Nombre de usuario</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
						<li><a class="dropdown-item" href="#">Configuración</a></li>
						<li><a class="dropdown-item" href="#">Perfil</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col py-3" style = "background:#a2c239;">
			
			<div class="text-center">
				<h3>Datos Importantes Del Día</h3>
			</div>
			
			<div class="text-center" style="background-color: #a2c239; padding: 10px;">
				<a href="#" class="barra-item">Día anterior</a>
				<a href="#" class="barra-item">Jueves 28 de septiembre de 2023▾</a>
				<a href="#" class="barra-item">Siguiente día</a>
			</div>

			<div class="text-center">
				<h4>Tabla de actividades</h4>
			</div>

			<!-- Tabla para llenar el resto del espacio -->
			<table class="table table-unbordered">
				<thead>
					<tr>
						<th  class="text-center">Actividad </th>
						<th>Tiempo / Número</th>
						<th>Nombre(s)</th>
						<!-- Agrega más encabezados según sea necesario -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Personas que asistieron a la oficina</td>
						<td>Dato interactivo</td>
						<td>Dato interactivo</td>
						<!-- Agrega más filas y datos según sea necesario -->
					</tr>
					<tr>
						<td>Persona con más visitas a la oficina</td>
						<td>Dato interactivo</td>
						<td>Dato interactivo</td>
						<!-- Agrega más filas y datos según sea necesario -->
					</tr>
					<tr>
						<td>Persona con más tiempo en la oficina</td>
						<td>Dato interactivo</td>
						<td>Dato interactivo</td>
						<!-- Agrega más filas y datos según sea necesario -->
					</tr>
					<!-- Agrega más filas según sea necesario -->
				</tbody>
			</table>

				<div class="text-center">
					<h4>Tabla de mensajes</h4>
				</div>

			<table class="table table-unbordered">
				<thead>
					<tr>
						<th class="text-center"> Persona </th>
						<th> Mensaje </th>
						<!-- Agrega más encabezados según sea necesario -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Dato interactivo</td>
						<td>Dato interactivo</td>
						<!-- Agrega más filas y datos según sea necesario -->
					</tr>
					<tr>
						<td>Dato interactivo</td>
						<td>Dato interactivo</td>
						<!-- Agrega más filas y datos según sea necesario -->
					</tr>
					
					<!-- Agrega más filas según sea necesario -->
				</tbody>
			</table>

		</div>
	</div>
</div>
