.input-color{
    background-color: #3b9e7f;
    color: whitesmoke;
    border-color: #318269;
}

.input-color::placeholder{
    color: #cae7de;
    font-style:italic;
}

img{
    border-radius: 25%;
}

.item-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}